{
 "BASE_LAYER_FILENAME": "Base.json",
 "ENABLE_AUTO_VALIDATION": "false",
 "ENABLE_EXPORT_WITH_ERRORS": "false",
 "EXPORT_DIRECTORY": "export/",
 "EXPORT_OPTION_EXPORT_INDIVIDUAL_ITEMS": "false",
 "EXPORT_OPTION_INCLUDE_VALIDATORS": "false",
 "LAST_QUICK_SAVE_TIME": "Mon Mar 3 11:03:15 GMT+0800 2014",
 "LAYER_LIST_CONFIGURATION_FILENAME": "projectlayers.llc",
 "LOCAL_DATA_DIRECTORY": "local_data/",
 "PROJECT_NAME": "ArtooProject"
}